@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 13.33%;
    --muted-foreground: 0 0% 70.59%;
    --popover: 0 0% 9.8%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 93.33%;
    --border: 44 14% 11%;
    --input: 0 0% 28.24%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 29.51 0% 100%;
    --secondary: 28.5 64.52% 12.16%;
    --secondary-foreground: 29.51 100% 88.04%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 23.11 59.8% 40%;
    --radius: 0.5rem;
  }
  /* Animation des météores */
  @keyframes meteor {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) translateX(-200px);
      opacity: 0;
    }
  }

  /* Conteneur des météores */
  .meteor-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Les météores passent derrière le contenu */
    pointer-events: none; /* Les interactions ne sont pas bloquées */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .shadow-theme {
    box-shadow:
      0 6px 12px -2px hsl(var(--primary) / 0.1),
      0 4px 6px -2px hsl(var(--primary) / 0.06);
  }

  .dark .shadow-theme {
    box-shadow:
      0 6px 12px -2px hsl(var(--primary) / 0.1),
      0 4px 12px -2px hsl(var(--primary) / 0.06);
  }
  /* Animation des météores */
  .animate-meteor {
    animation: meteor linear infinite;
  }
}
